.articulos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
}
.articulo{
    margin: 10px;
    box-shadow: 0px 0px 9px rgb(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;   
}
img{
    margin: 0px 10% 0px 10px;
    width: 80%;    
}
.articulo:hover{
    transform: scale(1.1);
}
.barra{
    display: flex;
    justify-content: center;
    background-color: bisque;
    padding: 10px;
    margin: 0;
}
.nav-link