@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400&display=swap');

*{
    font-family: 'Source Code Pro', monospace;
}
a {
    font-weight: bold;
    font-size: 25px;
    gap: 5px;
    text-decoration: none;
    background: transparent;
}
body{
    margin: 0%;
    background-image: url("../img/52_1000x.webp");
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    margin: 0;
    padding: 0;
}
nav{
    background-image: linear-gradient(100deg, #D5D7D7, #C8AC96);
    padding: 25px;
    display: flex;
    justify-content: center;
    gap: 50px;

}
#recetaContainer{
    background-image:linear-gradient(100deg, rgba(200, 172, 150, 0.8), rgba(213, 215, 215, 0.8)) ;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 50px 25px 50px 25px;
    display: inline-grid;
    grid-template-columns: auto auto auto ;
    align-items: start;
}
#recetaContainer h1{
    text-align: center;
    text-decoration: underline;
    grid-column-start: 2 ;
    grid-column-end: 5;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
#recetaContainer img{
    width: 450px;
    height: auto;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    grid-row-start: 1;
    grid-row-end: 7;
}
#recetaContainer h3{
    text-align: center;
}
#tituloParrafo{
    /* grid-row-start: 2;
    grid-row-end: 3; */
    grid-column-start: 2;
    grid-column-end: 4;
}
#tituloLista{
    
    grid-column-start: 4;
    grid-column-end: 5;
}
#recetaContainer p{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}