nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;   
    align-items: center;   
  }
nav :hover{
    color: aqua;
}
.nav-links{
    width: 100%;
    justify-content: space-between;
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
ul {
    list-style-type: none;
}
body{
    background-color: rgb(209, 246, 255);
}
.logo{
    width: 20px;
}
nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;   
    align-items: center;   
  }
nav :hover{
    color: aqua;
}
.nav-links{
    width: 100%;
    justify-content: space-between;
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
ul {
    list-style-type: none;
}
.precio{
    font-size: large;
    color: maroon;
}
footer{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: burlywood;
}
button:hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
a:active{
    background-color: gray;}