/* 1. Configuración general del cuerpo (body): 
define la tipografía, el color de fondo y el margen.*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
    background-color: #5D6D7E;
    margin: 15px 10px 5px 15px;
}

h1 {
    text-align: center;
}

/* 2. Estilos en los encabezados (header):
- Establecer el color de fondo
- El relleno y los estilos de fuente para el encabezado
- Estilos para los enlaces de navegación (nav)*/
nav {
    padding: 20px;
    background-image: linear-gradient(100deg, #85929E, #5D6D7E);
}

a {
    font-weight: bold;
    font-size: 25px;
    gap: 5px;
    text-decoration: none;
    background: transparent;
    transition: 0.65s;
}

a:hover {
    font-size: 30px;
    cursor: none;
}

/* 3. Estilos de los productos (product):
- Define los estilos para cada producto, como el fondo,
el borde, el relleno y los margenes.
- Agrega estilos para la imagen del producto (img),
el nombre (h3) la descripción, el precio (price) y 
el botón de agregar al carrito (button)*/
section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: 600px 600px;
    justify-content: space-evenly;
    align-content: space-evenly;

    gap: 2px;
}

div {
    width: 500px;
    height: 720px;
    background-image: linear-gradient(100deg, #FDFEFE, #85929E);
    gap: 5px;
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start*/ ;
}

img {
    margin: 0;
    width: 100%;
    height: 70%;
}

h3,
div p,
button {
    background: none;
    
}

h3 {
    font-size: xx-large;
}

div p.price{
    margin-left: 5px;
    align-self: flex-start;
    font-weight: bold;
    font-size: large;
    transition: 0.5s;
}
div p.price:hover{
   color: red;
}
button {
    padding: 5px;
    margin: 5px;
    padding: 5px;
    background: #FDFEFE;
    border: 1px solid grey;
    border-radius: 5px;
    transition: 0.6s;
}
button::selection{
    background: aquamarine;
}
button:hover{
    box-shadow: 3px 2px 10px #F4D03F;
    background: black;
    color: yellow;
}
/* Estilos del pie de página (footer):
- Establecer el color de fondo
- Relleno
- Color de texto
- El alineamiento del texto para el pie de página*/
footer{
    margin-top: 20px;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
}
footer p{
    align-self: self-end;
    background: none;
    color: #85929E;
}

footer a{
    font-size: small;
}
footer a:hover{
    font-size: medium;
}